body{
    padding: 0px;
    margin: 0px;
}
/* 反馈 style */
.rb{
    border-radius: 5px;
}
.Bg{
    width: 750px;
    height: 750px;
    padding: 0 0 0 10px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.Tx{
    height: 30px;
    margin-top: 10px;
    font-size: small;
    background-color: rgba(225, 223, 223, 0.391);
    border: 1px solid;
    width: 735px;
}
.Tx1{
    background-color: rgba(225, 223, 223, 0.391);
    border: 1px solid;
    width: 735px;
}
.tx{
    color: rgba(147, 140, 140, 0.879);
    font-size: small;

}
.btcet{
    width: 280px;
    margin: auto;
}
.bt{
    width: 80px;
    height: 40px;
    font-size: 1em;
    margin: auto;
    border: 1px solid rgba(97, 97, 97, 0.926);
    border-radius: 5px;
}
.bt1{
    margin-right: 110px;
}
a{
    color: #000;
    text-decoration: none;
}


.xcbg{
    width: 1500px;
}